 *, *::before, *::after{
    box-sizing: border-box;
} 

 .pepega {   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  } 
  
/* Logo style */
 .pepega h1 {
    font-family: Helvetica, sans-serif;
    position: relative;
    font-size: 30px;
    left: 300px;
    color: rgb(78, 253, 102);
    display: inline-block;
}

/* First header style */
 .pepega h2 {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 100%;
    color: rgb(78, 253, 102);
    font-size: 25px;
    text-align: center;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-decoration: underline;
}  

/* Paragraph style */
 .pepega p {
    position: absolute;
    top: 280px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 0;
    display: table-cell;
    vertical-align: middle; 
    word-spacing: 2px; 
  }

/* Connect with twitch button style and hover */
.twitchButton{
    background-color: indigo;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    width: 300px;
    transition-duration: 0.4s;
    border: 2px solid indigo;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 0;
    position: absolute;
    top: 48%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
} 

.twitchButton:hover {
    background-color: white; 
    color: indigo;
}

/* Navbar style */
.pepega ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    right: 200px;
  }
  
  .pepega li {
    float: right;
    font-family: Helvetica, sans-serif;
  }
  
  .pepega li a {
    font-weight: bold;  
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  
  .pepega li a:hover {
    background-color: rgb(78, 253, 102);
  }

  .pepega h3 {
    border: 15px solid rgb(78, 253, 102);
    opacity: 80%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    margin-top: 880px;
  }